<div class="container__table">
    <table class="table">
        <thead>
            <th>Item</th>
            <th>Qty</th>
            <th>Price Unit</th>
            <th>Subtotal</th>
        </thead>
        <tbody>
            <tr>
                <td>Name</td>
                <td>qty</td>
                <td>Price</td>
                <td>Subtotal</td>
            </tr>
        </tbody>

    </table>
    <div class="container__total">
        <p class="total">
            <strong>
                Total: <span>$988</span>
            </strong>
        </p>
    </div>
</div>